$dark:  #222;
$red: #d83333;
$yellow: #dcc20c;
$brown: #84645a;
$green: #99ca62;
$dirty: #a0a0a0;

$black: #212121;
$lightBlack : rgba(64,64,64,0.4);
$lightGray : rgba(0,0,0,0.4);
$darkGray: #3B3B3B;
$gray: #AAB2BC;
$light: rgba(255,255,255,0.4);
$loading: rgba(255,255,255,0.8);
$dimGray:#F4F3EE;
$blue: #039BE5;
$darkBlue: #3B5992;
$pink: #C6529C;
$orange: #F66B59;
$dimPurple:#7E7489;
$purple: #54366D;
$darkPurple: #322243;
$teal: #00B196;
$lightTeal: #2AC5C7;

$colors: (
  black:$black,
  darkGray: $darkGray,
  gray: $gray,
  blue: $blue,
  pink:$pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  purple: $purple,
  darkPurple: $darkPurple,
  green: $green,
  teal: $teal,
  light:$light,
  lightBlack: $lightBlack,
  transparent: transparent,
  lightTeal:$lightTeal,
  lightGray: $lightGray,
  dirty: $dirty,
  dark: $dark,
  brown: $brown,
  white: white,
  inherit: inherit
);

$sides: (top, bottom, left, right);

*{
  padding: 0px;
  margin: 0px;
  outline: none!important;
  border: none!important;
  font-family: monospace;
}

/**HEADER START**/

.header{
  padding: 10px 0px;
  cursor: default;
}
.logo-image{
  background-image: url(assets/plant.png);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  float: left;
  background-size: contain;
}
.header-title{
  margin: 0px 0px 0px 5px;
  display: block;
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
}
.header-subtitle{
  font-size: 13px;
  font-weight: bold;
  margin-left: 7px;
  position: relative;
  bottom: 6px;
}
.menu{
  position: relative;
  font-size: 15px;
  li{
    list-style: none;
    display: inline-block;
    float: left;
    &:last-child{
      margin-right: 0px;
    }
  }
  a{
    color: $dirty;
    padding: 10px;
    font-weight: bold;
    display: block;
    cursor: pointer;
    text-decoration: none;
  }
  button{
    font-size: 15px;
  }
  .menu-responsive{
    position: absolute;
    right: -10px;
    top: 30px;
    background: $dark;
    text-align: right;
  }

  li{
    width: 100%;
  }
}

/**HEADER END**/

.fixed-scroll{
  position: fixed;
}
.scroll-content{
  padding-left: 10px;
  padding-right: 40px;
  font-size: 13px;
  margin-bottom: 25px;
  border-left: 2px solid transparent !important;
  max-height: 105px;
  overflow: auto;
  margin-right: -20px;
  @extend .transition;
  &:hover{
    border-left: 2px solid #444343!important;
  }
}

.no-scrollbar{
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-right: -40px;
}

.scroll-header{
  margin-bottom: 5px;
  font-weight: bold;
  color: $brown;
}

.button-link{
  color: $dirty;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.sidebar-wrapper{
  @extend .background-dark;
  @extend .color-dirty;
  max-height: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar-bold{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.sidebar-link{
  color: $dirty;
  display: block;
  line-height: 15px;
  @extend .transition;
  @extend .dirty-hover;
  &:active, &:focus{
    text-decoration: none;
    color: $dirty;
  }
  &:hover{
    text-decoration: underline;
  }
}

.content-title{
  font-size: 20px;
  color: #3B3B3B;
  font-weight: bold;
  padding: 10px 0px;
}

.clipboard-link{
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0px;
  text-transform: uppercase;
  padding: 10px;
  background: $dark;
  color: $dirty;
  button{
    @extend .transition;
    @extend .green-hover;
    background-color: transparent;
  }
}
.section-paragraph{
  font-weight: bold;
  margin: 20px 0px;
}
.modal-content{
  border-radius: 0px;
}
.modal-header{
  background-color: $dark;
  color: white;
  font-weight: bold;
  button{
    @extend .transition;
    color: white;
    background-color: transparent;
    &:hover{
      text-shadow: none;
      color: white;
    }
  }
}
.modal-footer{
  button{
    border-radius: 0px;
  }
}

/*GENERAL*/
.code{
  font-family: consolas;
}
.no-hover{
  border: none!important;
  &:hover{
    border: none!important;
  }
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.pointer{
  cursor: pointer;
}
.icon{
  position: relative;
  top: 1px;
}
.hidden{
  display: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear{
  clear: both;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-breaker {
  white-space: pre-wrap;
}

.transition{
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease!important;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}


.color-box{
  height: 200px;
  display: inline-block;
  overflow: hidden;
  float: left;
}

.color-box-counter{
  font-size: 50px;
  margin: 0px;
  padding: 20px 20px;
  color: white;
  font-weight: bold;
}
.color-box-title{
  padding: 0px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  margin: 0px;
}

.ocean-blue{
  background: #2E3192;
  background: -moz-linear-gradient(45deg, #2E3192 0%, #1BFFFF 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2E3192), color-stop(100%, #1BFFFF));
  background: -webkit-linear-gradient(45deg, #2E3192 0%, #1BFFFF 100%);
  background: -o-linear-gradient(45deg, #2E3192 0%, #1BFFFF 100%);
  background: -ms-linear-gradient(45deg, #2E3192 0%, #1BFFFF 100%);
  background: linear-gradient(45deg, #2E3192 0%, #1BFFFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E3192', endColorstr='#1BFFFF', GradientType=1);
}

.mars{
  background: #d17646;
  background: -moz-linear-gradient(45deg, #d17646 0%, #c63939 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #d17646), color-stop(100%, #c63939));
  background: -webkit-linear-gradient(45deg, #d17646 0%, #c63939 100%);
  background: -o-linear-gradient(45deg, #d17646 0%, #c63939 100%);
  background: -ms-linear-gradient(45deg, #d17646 0%, #c63939 100%);
  background: linear-gradient(45deg, #d17646 0%, #c63939 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d17646', endColorstr='#c63939', GradientType=1);
}

.leaf{
  background: -moz-linear-gradient(45deg, #4db2ec 0%, #4a8f5e 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #4db2ec), color-stop(100%, #4a8f5e));
  background: -webkit-linear-gradient(45deg, #4db2ec 0%, #4a8f5e 100%);
  background: -o-linear-gradient(45deg, #4db2ec 0%, #4a8f5e 100%);
  background: -ms-linear-gradient(45deg, #4db2ec 0%, #4a8f5e 100%);
  background: linear-gradient(45deg, #4db2ec 0%, #4a8f5e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4db2ec', endColorstr='#4a8f5e', GradientType=1);
}

.pink{
  background: #d760b7;
  background: -moz-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d760b7), color-stop(100%, #3b78b4));
  background: -webkit-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
  background: -o-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
  background: -ms-linear-gradient(-45deg, #d760b7 0%, #3b78b4 100%);
  background: linear-gradient(135deg, #d760b7 0%, #3b78b4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d760b7', endColorstr='#3b78b4', GradientType=1);
}

.sanguine{
  background: #D4145A;
  background: -moz-linear-gradient(45deg, #D4145A 0%, #FBB03B 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #D4145A), color-stop(100%, #FBB03B));
  background: -webkit-linear-gradient(45deg, #D4145A 0%, #FBB03B 100%);
  background: -o-linear-gradient(45deg, #D4145A 0%, #FBB03B 100%);
  background: -ms-linear-gradient(45deg, #D4145A 0%, #FBB03B 100%);
  background: linear-gradient(45deg, #D4145A 0%, #FBB03B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4145A', endColorstr='#FBB03B', GradientType=1);
}

.luscious-lime{
  background: #009245;
  background: -moz-linear-gradient(45deg, #009245  0%, #FCEE21 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #009245 ), color-stop(100%, #FCEE21));
  background: -webkit-linear-gradient(45deg, #009245  0%, #FCEE21 100%);
  background: -o-linear-gradient(45deg, #009245  0%, #FCEE21 100%);
  background: -ms-linear-gradient(45deg, #009245  0%, #FCEE21 100%);
  background: linear-gradient(45deg, #009245  0%, #FCEE21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009245', endColorstr='#FCEE21', GradientType=1);
}

.purple-lake{
  background: #662D8C;
  background: -moz-linear-gradient(45deg, #662D8C  0%, #ED1E79 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #662D8C ), color-stop(100%, #ED1E79));
  background: -webkit-linear-gradient(45deg, #662D8C  0%, #ED1E79 100%);
  background: -o-linear-gradient(45deg, #662D8C  0%, #ED1E79 100%);
  background: -ms-linear-gradient(45deg, #662D8C  0%, #ED1E79 100%);
  background: linear-gradient(45deg, #662D8C  0%, #ED1E79 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#662D8C', endColorstr='#ED1E79', GradientType=1);
}

.fresh-papaya{
  background: #ED1C24;
  background: -moz-linear-gradient(45deg, #ED1C24   0%, #FCEE21 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #ED1C24  ), color-stop(100%, #FCEE21));
  background: -webkit-linear-gradient(45deg, #ED1C24   0%, #FCEE21 100%);
  background: -o-linear-gradient(45deg, #ED1C24   0%, #FCEE21 100%);
  background: -ms-linear-gradient(45deg, #ED1C24   0%, #FCEE21 100%);
  background: linear-gradient(45deg, #ED1C24   0%, #FCEE21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24', endColorstr='#FCEE21', GradientType=1);
}

.ultramarine{
  background: #00A8C5;
  background: -moz-linear-gradient(45deg, #00A8C5    0%, #FFFF7E 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00A8C5   ), color-stop(100%, #FFFF7E));
  background: -webkit-linear-gradient(45deg, #00A8C5    0%, #FFFF7E 100%);
  background: -o-linear-gradient(45deg, #00A8C5     0%, #FFFF7E 100%);
  background: -ms-linear-gradient(45deg, #00A8C5    0%, #FFFF7E 100%);
  background: linear-gradient(45deg, #00A8C5    0%, #FFFF7E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A8C5', endColorstr='#FFFF7E', GradientType=1);
}

.pink-sugar{
  background: #D74177;
  background: -moz-linear-gradient(45deg, #D74177    0%, #FFE98A 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #D74177   ), color-stop(100%, #FFE98A));
  background: -webkit-linear-gradient(45deg, #D74177    0%, #FFE98A 100%);
  background: -o-linear-gradient(45deg, #D74177     0%, #FFE98A 100%);
  background: -ms-linear-gradient(45deg, #D74177    0%, #FFE98A 100%);
  background: linear-gradient(45deg, #D74177    0%, #FFE98A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D74177', endColorstr='#FFE98A', GradientType=1);
}

.lemon-drizzle{
  background: #FB872B;
  background: -moz-linear-gradient(45deg, #FB872B    0%, #D9E021 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #FB872B   ), color-stop(100%, #D9E021));
  background: -webkit-linear-gradient(45deg, #FB872B    0%, #D9E021 100%);
  background: -o-linear-gradient(45deg, #FB872B     0%, #D9E021 100%);
  background: -ms-linear-gradient(45deg, #FB872B    0%, #D9E021 100%);
  background: linear-gradient(45deg, #FB872B    0%, #D9E021 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB872B', endColorstr='#D9E021', GradientType=1);
}

.victoria-purple{
  background: #312A6C;
  background: -moz-linear-gradient(45deg, #312A6C    0%, #852D91 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #312A6C   ), color-stop(100%, #852D91));
  background: -webkit-linear-gradient(45deg, #312A6C    0%, #852D91 100%);
  background: -o-linear-gradient(45deg, #312A6C     0%, #852D91 100%);
  background: -ms-linear-gradient(45deg, #312A6C    0%, #852D91 100%);
  background: linear-gradient(45deg, #312A6C    0%, #852D91 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#312A6C', endColorstr='#852D91', GradientType=1);
}

.spring-greens{
  background: #009E00;
  background: -moz-linear-gradient(45deg, #009E00    0%, #FFFF96 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #009E00   ), color-stop(100%, #FFFF96));
  background: -webkit-linear-gradient(45deg, #009E00    0%, #FFFF96 100%);
  background: -o-linear-gradient(45deg, #009E00     0%, #FFFF96 100%);
  background: -ms-linear-gradient(45deg, #009E00    0%, #FFFF96 100%);
  background: linear-gradient(45deg, #009E00    0%, #FFFF96 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009E00', endColorstr='#FFFF96', GradientType=1);
}

.mystic-muave{
  background: #B066FE;
  background: -moz-linear-gradient(45deg, #B066FE    0%, #63E2FF 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #B066FE   ), color-stop(100%, #63E2FF));
  background: -webkit-linear-gradient(45deg, #B066FE    0%, #63E2FF 100%);
  background: -o-linear-gradient(45deg, #B066FE     0%, #63E2FF 100%);
  background: -ms-linear-gradient(45deg, #B066FE    0%, #63E2FF 100%);
  background: linear-gradient(45deg, #B066FE    0%, #63E2FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B066FE', endColorstr='#63E2FF', GradientType=1);
}

.reflex-silver{
  background: #808080;
  background: -moz-linear-gradient(45deg, #808080    0%, #E6E6E6 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #808080   ), color-stop(100%, #E6E6E6));
  background: -webkit-linear-gradient(45deg, #808080    0%, #E6E6E6 100%);
  background: -o-linear-gradient(45deg, #808080     0%, #E6E6E6 100%);
  background: -ms-linear-gradient(45deg, #808080    0%, #E6E6E6 100%);
  background: linear-gradient(45deg, #808080    0%, #E6E6E6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#E6E6E6', GradientType=1);
}

.neon-glow{
  background: #00FFA1;
  background: -moz-linear-gradient(45deg, #00FFA1    0%, #00FFFF 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00FFA1   ), color-stop(100%, #00FFFF));
  background: -webkit-linear-gradient(45deg, #00FFA1    0%, #00FFFF 100%);
  background: -o-linear-gradient(45deg, #00FFA1     0%, #00FFFF 100%);
  background: -ms-linear-gradient(45deg, #00FFA1    0%, #00FFFF 100%);
  background: linear-gradient(45deg, #00FFA1    0%, #00FFFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFA1', endColorstr='#00FFFF', GradientType=1);
}

.berry-smoothie{
  background: #8E78FF;
  background: -moz-linear-gradient(45deg, #8E78FF    0%, #FC7D7B 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #8E78FF   ), color-stop(100%, #FC7D7B));
  background: -webkit-linear-gradient(45deg, #8E78FF    0%, #FC7D7B 100%);
  background: -o-linear-gradient(45deg, #8E78FF     0%, #FC7D7B 100%);
  background: -ms-linear-gradient(45deg, #8E78FF    0%, #FC7D7B 100%);
  background: linear-gradient(45deg, #8E78FF    0%, #FC7D7B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8E78FF', endColorstr='#FC7D7B', GradientType=1);
}

.new-leaf{
  background: #00537E;
  background: -moz-linear-gradient(45deg, #00537E    0%, #3AA17E 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00537E   ), color-stop(100%, #3AA17E));
  background: -webkit-linear-gradient(45deg, #00537E    0%, #3AA17E 100%);
  background: -o-linear-gradient(45deg, #00537E     0%, #3AA17E 100%);
  background: -ms-linear-gradient(45deg, #00537E    0%, #3AA17E 100%);
  background: linear-gradient(45deg, #00537E    0%, #3AA17E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00537E', endColorstr='#3AA17E', GradientType=1);
}


.pixle-dust{
  background: #D585FF;
  background: -moz-linear-gradient(45deg, #D585FF    0%, #00FFEE 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #D585FF   ), color-stop(100%, #00FFEE));
  background: -webkit-linear-gradient(45deg, #D585FF    0%, #00FFEE 100%);
  background: -o-linear-gradient(45deg, #D585FF     0%, #00FFEE 100%);
  background: -ms-linear-gradient(45deg, #D585FF    0%, #00FFEE 100%);
  background: linear-gradient(45deg, #D585FF    0%, #00FFEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D585FF', endColorstr='#00FFEE', GradientType=1);
}

.fizzy-peach{
  background: #F24645 ;
  background: -moz-linear-gradient(45deg, #F24645     0%, #EBC08D 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #F24645 ), color-stop(100%, #EBC08D));
  background: -webkit-linear-gradient(45deg, #F24645    0%, #EBC08D 100%);
  background: -o-linear-gradient(45deg, #F24645     0%, #EBC08D 100%);
  background: -ms-linear-gradient(45deg, #F24645    0%, #EBC08D 100%);
  background: linear-gradient(45deg, #F24645    0%, #EBC08D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F24645', endColorstr='#EBC08D', GradientType=1);
}

.sweet-dream{
  background: #3A3897 ;
  background: -moz-linear-gradient(45deg, #3A3897     0%, #A3A1FF 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #3A3897 ), color-stop(100%, #A3A1FF));
  background: -webkit-linear-gradient(45deg, #3A3897    0%, #A3A1FF 100%);
  background: -o-linear-gradient(45deg, #3A3897     0%, #A3A1FF 100%);
  background: -ms-linear-gradient(45deg, #3A3897    0%, #A3A1FF 100%);
  background: linear-gradient(45deg, #3A3897    0%, #A3A1FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A3897', endColorstr='#A3A1FF', GradientType=1);
}

.firebrick{
   background: #45145A ;
   background: -moz-linear-gradient(45deg, #45145A     0%, #FF5300 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, #45145A ), color-stop(100%, #FF5300));
   background: -webkit-linear-gradient(45deg, #45145A    0%, #FF5300 100%);
   background: -o-linear-gradient(45deg, #45145A     0%, #FF5300 100%);
   background: -ms-linear-gradient(45deg, #45145A    0%, #FF5300 100%);
   background: linear-gradient(45deg, #45145A    0%, #FF5300 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45145A', endColorstr='#FF5300', GradientType=1);
 }

.evening-light{
  background: #93278F ;
  background: -moz-linear-gradient(45deg, #93278F     0%, #00A99D 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #93278F ), color-stop(100%, #00A99D));
  background: -webkit-linear-gradient(45deg, #93278F    0%, #00A99D 100%);
  background: -o-linear-gradient(45deg, #93278F     0%, #00A99D 100%);
  background: -ms-linear-gradient(45deg, #93278F    0%, #00A99D 100%);
  background: linear-gradient(45deg, #93278F    0%, #00A99D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93278F', endColorstr='#00A99D', GradientType=1);
}
.code-lang{
  margin: 0px;
  background: $blue;
  color: white;
  padding: 5px 10px;
}
.overlay-button{
  padding: 10px;
  margin: 10px;
  display: inline-block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

/* DYNAMIC CLASSES START*/

@for $i from 1 through 12{
  .row-#{$i}-height{
    height: #{$i * 10}vh;
  }
}

@each $name in $sides {
  .no-padding-#{$name} {
    padding-#{$name}: 0px;
  }
  .no-margin-#{$name} {
    margin-#{$name}: 0px;
  }
}



@each $name, $value in $colors {

  .background-#{$name} {
    background: $value;
    background-color: $value;
  }

  .#{$name}-hover{
    &:hover{
      color: $value;
    }
  }

  .color-#{$name} {
    color: $value;
  }

  .placeholder-#{$name}{
    &::placeholder{
      color: $value;
    }
    &::-webkit-input-placeholder{
      color: $value;
    }
    &:-moz-placeholder{
      color: $value;
    }
    &::-moz-placeholder{
      color: $value;
    }
    &:-ms-input-placeholder{
      color: $value;
    }
  }

}

@media only screen and (max-width: 992px) {
  .fixed-scroll{
    position: relative;
  }
}